<div class="item rounded">
  <div class="swap-item-block row h-100">
    <div class="col-6 block-image-album px-0 h-100" data-toggle="modal" data-target="#imageModal">
      <div class="image-child position-relative h-100">
        <img class="thumb-image-album thumb-image-album-one position-absolute" src="/images/image3.jpg"/>
        <img class="thumb-image-album thumb-image-album-two position-absolute" src="/images/image3.jpg"/>
        <img class="thumb-image-album thumb-image-album-three position-absolute" src="/images/image3.jpg"/>
      </div>

    </div>
    <div class="col-6">
      <div class="swap-block-info">
        <div class="block-info row pl-3 pt-3">
          <div class="small-icon position-relative">
            <p class="position-absolute block-info-icon">
              HN
            </p>
          </div>
          <div class="my-auto ml-2">
            <p class="mb-0">Hieu Nguyen</p>
          </div>
        </div>
        <div class="pt-2">
          <h5>Name meme hand</h5>
        </div>
        <div class="">
          <p>
            prehenderit qui in ea voluptate velit esse quam nihil molesae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
          </p>
        </div>
      </div>
      <div class="react-area d-flex justify-content-between mb-0 mt-auto">
        <div>
          <i class="bi bi-heart-fill active"></i>
          <span>123</span>
        </div>
        <div>
          <span>
            <%= formatDateTimePhoto()%>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>