/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 $color-primary: #3C5996;
 $color-second: #fff;
 body{
   background-color: #F8F8F8;
 }
 .bg-main{
   background-color: $color-primary;
 }
 .avatar-section{
   .swap-avatar{
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    .avatar{
      top:20%;
      left:20%;
      font-weight: 700;
      color:  $color-primary;
    }
  }
 }
 .p-logout{
   a{
    color: $color-second;
    font-weight: bold;
    display: block;
   }

 }